services:
  database_ignite:
    image: postgres
    container_name: database_ignite
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data

    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DB_USER} -d ${DB_NAME}']
      interval: 1s
      timeout: 1s
      retries: 1

  app:
    build: .
    image: rentx
    container_name: rentx
    ports:
      - '3333:3333'
    volumes:
      - .:/usr/app

    depends_on:
      database_ignite:
        condition: service_healthy

volumes:
  pgdata:
    driver: local
