<style>
    .container {
        width: 800px;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    span {
        margin: 10px;
    }
</style>

<div class="container">
    <span>Hello, {{name}}</span>

    </br>

    <span>You have requested the change of your password.</span>
    <span>To change your password please click in the link
        <a href={{link}}>{{link}}</a>
    </span>
    <span>If it was not you, please ignore this email</span>

    <strong>Thanks!</strong>

    <h3>Team <strong>Cortabitart</strong></h3>
</div>
